.login_logo{
    position:fixed;
    left: 0;
    width: 80px;
    padding-left: 20px;
    margin-top: 13px;

}
.login{
    position: relative; 
    height: 100%;
    object-fit: contain;
    background: url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg')
center no-repeat 
    ;
    background-size: cover;
   
  
   
}
.login_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
     background: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    ); 
}
.login_button{
    position: fixed;
    right: 20px;
    top:20px;
    padding: 10px 20px;
    font-size: 1rem;
    color:white;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.login_body{
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top:20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    align-items: center;
    
}
.login_body>h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.login_body>h2{
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 400;

}
.login_body>h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.login_input>form>input{
   padding: 10px;
   outline-width: 0;
   height: 30px;
   width: 30%;
   border: none;
   max-width: 600px;
}
.form_button{
    padding: 16px  20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.login_input{
    padding: 20px;
}
.login{
    align-items: center;
}
